body{
    background-color: aliceblue;
}
header{
    border:2px solid red;
    text-align: center;
}
section{
    display: flex;
    margin-top: 20px;
    background-color: cadetblue;
    width: 100%;
    height: 600px;
    justify-content:space-evenly;
}
.contidas{
    display: inline-block;
    width:33%;
    height:100%;
    overflow:auto;
}
.div1{
    background-color: red;
}
.div2{
    background-color: blue;
}
.div3{
    background-color: yellowgreen;
}
article{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 35px;
}

article p span{
    display: block;
    font-size: xx-large;
    text-align: justify;
}
#anchor1{
    color:gray;
}
#anchor2{
    color:burlywood;
}
#anchor3{
    color:blue;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border: 1px solid orangered;
    height: 105px;
    position:fixed;
    bottom: 5px;
}
.div-footer{
    width: 100%;
    height: 130px;
}
.footer{
    display: inline-block;
    width: 48%;
    height: 95px;
    background-color: aqua;
    overflow: hidden;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#top-menu{
    display: flex;
    position: sticky;
    justify-content: right;
}
#top-menu a{
    display:inline-block;
    color:brown;
    border:1px dashed green;
    padding: 10px;
}
#top-menu a:hover{
    background-color: gainsboro;
}

