body {
    background-color: aliceblue;
}
nav{
    display: inline-block;
}
nav ul{
    list-style-type: none;
}
nav li{
    display: inline-block;
}
nav a {
    text-decoration: none;
}
#top-menu{
    display: flex;
    }
#top-menu a{
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    color: grey;
    padding: 15px;
    border:2px dashed orangered;
}
#top-menu a:hover{
    background-color: #969797;
    color: wheat;
}

header {
    border: 2px solid red;
    text-align: center;
}

section {
    display: flex;
    align-content: center;
    margin-top: 20px;
    background-color: cadetblue;
    width: 100%;
    height: 600px;
    justify-content: space-evenly;
}

.contidas {
    color:white;
    text-align: center;
    display: inline-block;
    width: 32%;
    height: 100%;
    justify-content: space-evenly;

}
.contidas p{
    margin: 15px;
}

.div1 {
    background-color: red;
}

.div2 {
    background-color: blue;
}

.div3 {
    background-color: yellowgreen;
}

article{
    font-size: xx-large;
    text-align: justify;
    margin: 30px;

}
article p span{
    display: block;
}
#anchor1{
    color:blue;
    background-color: yellow;
}
#anchor2{
    color: blueviolet;
    background-color: bisque;
}
#anchor3{
    color: brown;
    background-color: azure;
}
#anchor4{
    color: gray;
    background-color: burlywood;
}
#anchor5{
    color: greenyellow;
    background-color: black;
}
.footer-div {
    height: 140px;
}
footer {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    border: 1px solid orangered;
    height: 105px;
    position: fixed;
    bottom: 5px;
    justify-content: space-evenly;
}

.footer {
    display: inline-block;
    width: 48%;
    height: 95px;
    background-color: aqua;
}